@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased;
  background: #14120d;
  color: #f5f5dc;
  font-family: "JetBrains Mono Variablefont Wght", "JetBrains Mono", ui-monospace,
    SFMono-Regular, system-ui, sans-serif;
}

#root {
  @apply min-h-screen;
}
